<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div class="card">
    <div class="card-header">
        Promedio de notas
    </div>
    <div class="card-body">
    <form method="post" th:action="@{/promedio}"
    th:object="${objpromedio}">
        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="textNota1"
                   th:fiel="*{ec1}" placeholder="name@example.com">
            <label for="textNota1">Evaluacion continua 1</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control"
                   id="textNota2"
                   th:fiel="*{ec2}"placeholder="name@example.com">
            <label for="textNota2">Evaluacion continua 2</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="textNota3"
                   th:fiel="*{ec3}" placeholder="name@example.com">
            <label for="textNota3">Evaluacion continua 3</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control"
                   id="textNota4"
                   th:fiel="*{ecFinal}" placeholder="name@example.com">
            <label for="textNota4">Evaluacion Final</label>
        </div>
        <button type="submit" class="btn btn-dark">Calcular</button>
        <hr />
        <div th:if="${mostrar}" class="alert alert-secondary" role="alert">
            Calcular tu promedio
            <span th:text="${resultado} ?: ''">


        </form>
    </div>
</div>
</body>
</html>